.collapsible {
  background-color: dimgray;
  color: white;
  cursor: pointer;
  margin-left: 15%;
  padding: 10px;
  width: 70%;
  border: none;
  text-align: middle;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  margin-left: 15%;
  margin-right: 15%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;

  .span {
    display: inline-block;
    width: 200px;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 30px;
}

.orders {
  border-radius: 5px;
  margin-top: 5px;
}

.orders span {
  display: inline-block;
  width: 300px;
}

.indexbutton {
  margin: 3px;
}

.input {
  margin-left: 3px;
}

.margin {
  margin-left: 3px;
}

a.button {
  padding: 1px 6px;
  border: 1px outset buttonborder;
  border-radius: 3px;
  color: buttontext;
  background-color: buttonface;
  text-decoration: none;
}
